@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  overflow-wrap: break-word;/*quebar o texto*/
  transition: ease-in-out;
}
*::-webkit-scrollbar {/*hidde scrollbar*/
    display: none;
}

@keyframes getIn{ 
  0%{ transform:  translate(-150%, -80px) scale(0); 
  border-radius: 11% 89% 25% 75% / 84% 46% 54% 16% ; }
	25%{transform: translate(-75%, -60px) scale(0.2, 0.5); 
	border-radius: 11% 89% 48% 52% / 47% 46% 54% 53% ;}
	50%{transform:  translate(-50%, -40px) scale(0.6, 0.5); 
	border-radius: 11% 89% 48% 52% / 47% 46% 54% 53% ;}
	75%{transform:  translate(-25%, -20px) scale(0.7);
	border-radius:11% 89% 21% 79% / 47% 10% 90% 53%  ;}
  100%{ transform: translate(0%, 0px) scale(1); 
	border-radius: 12px;}
		}
html,
body {
  height: 100vh;
}
.hidden{
  display: none;
}
body{
	display: flex ;
	justify-content: center;
	align-items: center;
	background-color: #F1F3F8;
}
.container{
  display: flex;
  min-width: 1240px;
	/*width: 85vw;*/
	height: 85vh;
	background-color: white;
	border-radius: 12px;

}
aside{
	width:20%;
	max-width: 90px;
	height: 100%;
	border-right: solid 2px #F1F3F8;
	justify-content: center;
    display: grid;
    grid-template-rows: 80px auto;
}

aside p{
  padding-top: 30px;
}
.addNote{
	margin-top: 40px;
	display: flex;
	border-radius: 50%;
	background-color: black;
	width: 40px;
  height: 40px;
  justify-self: center;
	justify-content: center;
	align-items: center;
}
.fa.fa-plus{
	color: white
}
main{
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px 117px auto;
}
main header{
		padding: 30px 0px 1px 70px;
}
main header i.fa.fa-search{
		color: #cbcccf;
		margin-right: 5px;
}

input, textarea{
  background-color: transparent;
}
input, textarea, button{
	border: hidden;
  outline: none;
  font-size: unset;
}
main header input:hover{
  border-bottom: solid 1px #F1F3F8;
}
main h1{
	  display: flex;
    align-self: center;
    margin-left: 70px;
}
.notesContainer{
display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 30px 30px;
    width: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
		padding-left: 70px;
		flex-wrap: wrap;
}
form{
  position: relative;
display: flex;
flex-direction: column;
width: 230px;
height: 230px;
padding: 25px;
overflow-y: scroll;
border-radius: 12px;    
}
form.newNote{
  display: none;
	animation-name: getIn;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
form.newNote button{
  display: none;
  border: none;}

form.newNote:hover button{
  display: flex;
}

/*--------CSS+JS-------------*/
.postar{
  position: absolute;
  padding: 4px;
  color: white;
  border-radius: 7%;
}
input[name = "color"]{
  display: none; 
}
input[name = "title"]{
  width: 170px;
}
.createdAt{
  display: none;
  position: absolute;
  bottom: 10px;
  font-size: xx-small;
  color: slategray;
}
form:hover .createdAt{
display: block;
}
form:hover .deleteBtn{
  display: grid;
  }
.editBtn,form.newNote button{
  position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color:  #2e3033;
    color: white;
    font-size: small;
}
.editBtn{
  display: grid;}
/*-------exit btn------------------------*/
.deleteBtn{
	position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color:  #2e3033;
}
.pile{
	position: relative;
  height: 2px;
  width: 10px;
  transition: all 0.2s linear;
}

.deleteBtn:hover .pile.one{
  transform: translateX(0) translateY(5px) rotate(45deg);
  width: 15px;
  background-color: #ffbb00;
}

.deleteBtn:hover .pile.two{
	transform: translateX(0) translateY(-5px) rotate(-45deg);
  width: 15px;
  background-color: #ffbb00;
}
/*-----------CSS+JS--------*/


.deleteBtn.check:hover .pile.one{
  transform: translateX(-1px) translateY(7px) rotate(58deg);
  width: 6px;
  background-color: #00f349;
}

.deleteBtn.check:hover .pile.two{
	transform: translateX(1px) translateY(-4px) rotate(-30deg);
    width: 15px;
  background-color: #00f349;
}

