/* Set the size of the div element that contains the map */
      #map {
        height: 100%; 
        /* The width is the width of the web page */
      }
      @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

*{
  margin:0;
  padding:0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
html, body{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  height:100vh;
}
section{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block{
  background-color: #E7E6ED;
    width: 50%;
    min-width: 415px;
}
.container{
  background-color:#fff;
  width:40px;
  margin: 10px;
}
#drag1{
  width:80%;
  min-width: 300px;
  height:35vh;
  min-width: 250px;
  min-height: 300px;
  padding:12px;
  background-color: #E7E6ED;
  border: none;
  border-radius: 5px;
}

#drag2{
  width: 20vw;
  min-width: 300px;
  height: 40vh;
  min-height: 300px;
  background-color:#efefef;
  box-shadow: 1px 1px 7px #bbb;
  border-radius:5%;
}
#drag3{
  position: relative;
  min-width: 210px;
  min-height: 300px;
  background-color:#efefef;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  box-shadow: 1px 1px 7px #bbb; 
  border-radius:5%; 
}
/*#mapid { height: 100%; }*/
#drag4{
  width:40vw;
  height:40vh;
  padding: 10px;
}
#drag5{
  min-width: 300px;
  min-height: 150px;
  width: 300px;
  height: 150px;
  background-color: #633fb8;
  align-items: center;
  text-align: left;
  display: grid;
  color: #fff;
  border-radius: 7px;
  padding: 25px;
}

#status
{ justify-content: center;
  display: flex;
  margin-top: 5px;
}
.BelowText{
  /* margin-top: 18px; */
  display: flex;
  margin-top:5px;
  justify-content: space-around;
  text-align: center;
}
.BelowText P{
  border-radius: 11px;
  background-color: #E7E6ED;
  padding: 5px;
  height: 25px;
  border: 1px solid white;
  width: 100px;
}
.BelowText P:hover{
  border-radius: 11px;
  background-color: #fff;}
/* Pie Chart */
.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  box-shadow: 1px 1px 7px #bbb;
}

.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #81CE97;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #777;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background-color:#efefef;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #777;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 1px 1px #bbb;
}

.progress-pie-chart {
  margin: 30px auto 0;
}
.button{
  display: flex;
  position: absolute;
  WIDTH: 35px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #81CE97;
  border-radius: 20%;
}
 .button.UP{
  top: 105px;
  right: 91px;
 }
 .button.RIGHT{
  top: 133px;
  right: 50px;
 }
 .button.LEFT{
  top: 133px;
  left: 44px;
 }
 .button.DOWN{
  bottom: 105px;
  right: 91px;
 }