<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="formStyle.css">
   <meta charset="utf-8">
   <title>
  formulario
  </title>
 </head>
 <body>
    <div class="login-page">
    <div class="form">
    <form action="/confirmacao" method="POST" class="login-form">
      <input name="titulo" type="text" placeholder="Titulo"/>
      <textarea name="postagem" placeholder="poste este aqui" cols="30" rows="10"></textarea>
      <button type="submit">postar</button>
    </form>
  </div>
</div>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
<script src="script.js"></script>
 </body>
</html>
