<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="homeStyle.css">
 </head>
<body>
    <!-- <h1>ESP32-CAM Pan and Tilt</h1> -->
    <section class="block" id="section3" ondrop="drop(event)" ondragover="allowDrop(event)">
      <div class="container" draggable="true" ondragstart="drag(event)" id="drag4">
      </div>
    </section>
    <section class="block" id="section1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img  src="" draggable="true" ondragstart="drag(event)" id="drag1">
      
    </section>
    <section class="block" id="section2" ondrop="drop(event)" ondragover="allowDrop(event)"> 
      <div class="container" draggable="true" ondragstart="drag(event)" id="drag2">
        <p id="status">STATUS</p>
        <div class="progress-pie-chart" data-percent="1"><!--Pie Chart -->
          <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>%</span>
            </div>
        </div>
      </div>
      <div class="BelowText">
        <p>pressure: {{pressure}} </p>
        <p>Temperature: {{temperature}} </p>
       </div>
      </div>
      <div class="controls" draggable="true" ondragstart="drag(event)" id="drag3">
        <button class="button UP" onclick="commandTo('up')">⬆</button>
        <button class="button RIGHT" onclick="commandTo('right')">➡</button>
        <button class="button LEFT" onclick="commandTo('left')">⬅</button>
        <button class="button DOWN" onclick="commandTo('down')">⬇</button>
      </div>
    </section>
    <section class="block report" id="section4" ondrop="drop(event)" ondragover="allowDrop(event)">
        <canvas id="preview"></canvas>
        <div class="container" draggable="true" ondragstart="drag(event)" id="drag5">
          <p>species <br> identified: </p>
          <p>------------------------------------------------</p>
          <p>quantity: </p>
          <p>------------------------------------------------</p>
          <p>coordenates: </p>
          <p>------------------------------------------------</p>
        </div> 
    </section>
    <!---script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTaNrH8OuGnb55Eo0eF81Cf7jo2XojhtI&amp;callback=initMap&amp;libraries=&amp;v=weekly" async=""></script--->
    <script src="script.js"></script>
</body>
</html>

